<form [formGroup]="form" (ngSubmit)="newComment()" *ngIf="isLogged">
  <h2>Nuovo Commento</h2>
  <textarea formControlName="body" placeholder="Scrivi qui il tuo commento"></textarea>
  <button type="submit">Invia</button>
</form>
<div *ngIf="!isLogged">
  <h2>Se vuoi commentare devi effetture il Login</h2>
  <button routerLink="/login">Effettua il Login</button>
</div>
<div class="commenti">
  <h2>Commenti</h2>
<app-comment-card *ngFor="let c of arrayCommenti ; index as i" [index]="i" [commento]="c" (customEventTrash)="delComment($event)"></app-comment-card>
</div>
