.user{
  border-left: 3px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A89488;
  padding: 3rem 2rem 3rem 2rem;
  flex: 1;
  button{
    margin: 0 auto;
  }
  h4{
    color: #fff;
    margin-bottom: 1.5rem;
  }
}
.post{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 3px solid black;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 3rem 1rem 3rem;
  flex: 2;
  p{
    padding: 1rem 0;
    color: grey;

  }
  h3{
    padding: .7rem 1rem;
    border-radius: 18px;
    color: #000;
    background-color: #D9D9D9;
    margin-right: 60%;
    text-align: center;



  }
  button{
    align-self: flex-end;
  }
}
button{
  background-color: #77A8A6 ;
  color: white;
  padding: .7em 3em;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  // transition:transform .1s ease-out;
}
button:hover{
  box-shadow: none;
  cursor: pointer;
  transform: translateY(4px);
}
